*{margin:0;padding:0;user-select:none;box-sizing:border-box;scroll-behavior:smooth;font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif}::selection{background:0 0}
.main-container{padding: 10px 25%;min-height: 100vh;background-image:linear-gradient(180deg,#0002ad,#9a00a7);}
.main-container .header{padding:5% 2px 2px 2px;background:rgba(255,255,255,.25);box-shadow:0 8px 32px 0 rgba(31,38,135,.37);backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:10px;border:1px solid rgba(255,255,255,.18)}
.main-container .header img{height:125px;width:125px;object-fit:cover;border-radius:50%;border:3px solid;box-shadow:0 0 9px 6px #8a2be2;bottom:-62.5px;margin-top:-5%;position:relative;z-index:1}.main-container .header .name{display:flex;flex-direction:column;justify-content:center;align-items:center}.main-container .header .About-sec{display:flex;flex-direction:column;justify-content:center;align-items:center;background:rgba(255,255,255,.25);box-shadow:0 8px 32px 0 rgba(31,38,135,.37);backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:10px;color:#fff;border:1px solid rgba(255,255,255,.18)}.main-container .header .About-sec .about{padding:62.5px 10px 10px 10px}.social{background:rgba(255,255,255,.25);box-shadow:0 8px 32px 0 rgba(31,38,135,.37);backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:10px;border:1px solid rgba(255,255,255,.18);margin:10px 0;padding:1% 10px}.main-container .header *,.social *{color:#fff}.social ul:nth-child(2){display:flex;flex-wrap:wrap;list-style:none;justify-content:center;align-items:center}.social ul:nth-child(2) li{padding:10px 20px}.social ul:nth-child(1){display:flex;list-style:none;justify-content:center;align-items:center;flex-direction:column}.social ul:nth-child(1) li{background:rgba(255,255,255,.25);box-shadow:0 8px 32px 0 rgba(31,38,135,.37);backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:10px;border:1px solid rgba(255,255,255,.18);width:60%;padding:5px;margin:5px 0;border-radius:50px;transition:all .2s ease-in-out;display:flex;justify-content:center;align-items:center}.social ul:nth-child(1) li:hover{background:rgba(255,255,255,0)}.social ul:nth-child(1) li .fa{padding:0 10px}.social ul:nth-child(1) li a{text-decoration:none;display:flex;width:100%;justify-content:center}.Links,
.newArticles{border-radius:10px;border:1px solid rgba(255,255,255,.18);margin:10px 0;padding:1% 10px;background-color:#fff}
.newArticles .offers{display: flex;flex-wrap: wrap;justify-content: space-evenly;}
.newArticles .offers a{
    border-radius: 10px;border:1px solid; display: block;
    height: 100px;width: 45%;margin: 5px 0;
}
.newArticles .offers a img{
    border-radius: 10px;width: 100%;height: max-content;
}
.Links h4,.newArticles h4{background-image:linear-gradient(90deg,#0002ad,#9a00a7);color:#fff;padding:10px 20px;border-radius:50px;width:35%;position:relative;z-index:1;margin-top:3%}.newArticles .boxes{display:flex;flex-wrap:wrap;justify-content:space-evenly}.newArticles .boxes a{width:45%;display:flex;text-decoration:none;border-radius:5px;justify-content:center;border:1px solid;align-items:center;padding:10px;margin:5px 0}.newArticles .boxes a p{text-align:center}.Links span,.newArticles span{position:relative;width:100%;height:2px;top:-20px;display:block;background:#8c01a8}.Links h3{text-decoration:underline}.Links ul{list-style:none;color:#000}.Links ul li{padding:5px}.Links ul a{color:#000;text-decoration:none}.Links .multi{display:flex;justify-content:space-evenly}
@media (max-width: 1040px) {
    .main-container{padding: 10% 10%;}
}
@media (max-width: 540px) {
    .main-container{padding: 10% 5%;}
    .newArticles h4, .Links h4{width:max-content;}
    .newArticles .offers a{width: 100%;}
    .Links .multi{flex-direction: column;}
    .Links ul{margin: 5px 15px;}
}

.Featured-arti {margin: 10px 0;}
.Featured-arti .swiper-container .swiper-wrapper .swiper-slide{
    font-size: 18px;background: #fff;
    width: 100%;height: 200px;text-decoration: none;
    transition: all 0.5s ease-in-out;
    width:45% !important; margin-right: 15px;
}
.Featured-arti .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;border-radius: 20px;object-fit: contain;
}
@media (max-width:540px){
   .Featured-arti .swiper-container .swiper-wrapper .swiper-slide{width:60% !important;}
}

.hide{display: none !important;}