  *{
    margin:0px;padding:0px;user-select: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*::selection{background: none;}
.main-container{
    background-image: linear-gradient(180deg, #0002ad, #9a00a7);
    padding: 10px 25%;
}
.main-container .header {
    padding: 5% 2px 2px 2px;
    background:rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.main-container .header img{
    height: 125px;width: 125px;
    object-fit: cover;border-radius: 50%;border: 3px solid;box-shadow: 0 0 9px 6px blueviolet;
    bottom: -62.5px;margin-top: -5%;position: relative;z-index: 1;
}
.main-container .header .name{
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.main-container .header .About-sec{
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    background:rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.main-container .header .About-sec .about{
    padding: 62.5px 10px 10px 10px;
}
.newArticles .blocks1{display: flex;flex-wrap: wrap;justify-content: space-evenly;}
.newArticles .blocks1 a{}
.newArticles .blocks1 a img{width: 45%;border-radius: 10px;margin: 5px 0;}
.social, .newArticles{background:rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px 0;
    padding: 1% 10px;
}
.main-container .header * ,.social *{color:#fff;}
.social ul:nth-child(2){
    display: flex;list-style: none;justify-content: center;align-items: center;
}
.social ul:nth-child(2) li{    padding: 10px 20px;}
.social ul:nth-child(1){
    display: flex;list-style: none;justify-content: center;align-items: center;
    flex-direction: column;
}
.social ul:nth-child(1) li{
    background:rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 60%;
    padding: 5px;margin: 5px 0;
    border-radius: 50px;transition: all .2s ease-in-out;
    display: flex;justify-content: center;align-items: center;
}
.social ul:nth-child(1) li:hover{
    background: rgba(255, 255, 255, 0.0);
}
.social ul:nth-child(1) li .fa{
    padding: 0 10px;
}
.social ul:nth-child(1) li a{
    text-decoration: none;display: flex;
    width: 100%;
    justify-content: center;
}
.Links{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px 0;
    padding: 1% 10px;
    background-color: #fff;
}
.newArticles h4, .Links h4{
    background-image: linear-gradient(90deg, #0002ad, #9a00a7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    width: 35%;
    position: relative; z-index: 1;
    margin-top: 3%;
}
.newArticles span, .Links span{
    position: relative;
    width: 100%;
    height: 2px;
    top: -20px;
    display: block;
    background: #8c01a8;
}
.Links ul{
    list-style: none;
    color: #000;
}
.Links ul li{
    padding: 5px 0;
}
.Links ul a{
    color: #000;
    text-decoration: none;
}
.Links .multi{
    display: flex;justify-content: space-around;
}
@media (max-width: 1040px) {
    .main-container{padding: 10% 10%;}
}
@media (max-width: 540px) {
    .main-container{padding: 10% 5%;}
}